= render Pajamas::CardComponent.new(card_options: { class: card_classes, data: { testid: card_testid }},
                                    header_options: { class: header_classes }) do |c|
  - c.with_header do
    = header_text
  - c.with_body do
    = image_tag image_path('logo.svg'), class: 'svg gl-w-8!'
    .gl-font-size-h1.gl-font-weight-bold.gl-line-height-24.gl-text-purple-800.gl-mb-3
      = name
    .gl-font-sm.gl-mb-4.gl-mx-4.gl-text-gray-700
      = elevator_pitch
    .gl-line-height-52.gl-font-size-h-display-xl.gl-font-weight-bold.gl-text-gray-800.gl-mb-4
      = price_per_month
    .gl-min-h-8.gl-mb-4
      .gl-font-sm.gl-mx-4.gl-text-gray-700
        = s_("BillingPlans|per user/month")
      - unless free?
        .gl-font-sm.gl-mt-0.gl-mx-4.gl-text-gray-700
          = annual_price_text
    - unless free?
      = render Pajamas::ButtonComponent.new(href: cta_url, variant: :confirm, category: cta_category, button_options: { class: 'gl-mb-5', data: cta_data }) do
        = cta_text
    %ul.gl-pl-6.gl-pr-0
      - features.each do |feature|
        %li.gl-text-left.gl-font-sm.gl-text-gray-700.gl-line-height-normal
          = feature.title
