@import 'mixins_and_variables_and_functions';

.signup-page {
  .devise-errors {
    h2 {
      font-size: $gl-font-size;
      color: var(--red-700, $red-700);
    }
  }

  .decline-page {
    width: 350px;
  }
}

.edit-profile {
  max-width: 460px;
}
